.oe_color_div {
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
}
.oe_color_div2 {
    width: 100px;
    height: 100px;
    margin: 10px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background: #0f610f;
    display: inline-block;
}

.oe_color_div3 {
    width: 0;
    height: 0;
    border-top: 100px solid red;
    border-right: 200px solid transparent;
    display: inline-block;

}